@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.paddingX {
  @apply px-4 sm:px-8 lg:px-12;
}

.paddingY {
  @apply py-[100px] sm:py-40;
}
*::-webkit-scrollbar {
  display: none;
}

.react-select {
  @apply bg-background text-foreground; /* Default styles for the control */
}

.react-select:hover {
  @apply bg-[var(--accent)]; /* Use the accent variable on hover */
}

.PhoneInputInput {
  @apply bg-white outline-none border-none;
}

::-moz-selection {
  color: #fff;
  background: #55aac4;
}

::selection {
  color: #fff;
  background: #55aac4;
}

input[type="radio"] {
  background-color: white;
  border: 2px solid #ccc; /* Optional: Add a border for better visibility */
  border-radius: 50%; /* Ensures the radio button stays circular */
  appearance: none; /* Removes default styles */
  width: 1.3rem; /* Set a consistent width */
  height: 1.3rem; /* Set a consistent height */
  outline: none; /* Removes focus outline */
  cursor: pointer; /* Ensures it looks interactive */
}

input[type="radio"]:checked {
  background-color: #ff5722; /* Change this to your primary color */
  border-color: #ff5722; /* Optional: match the border color */
}

.button-gradient {
  @apply bg-gradient-to-tr from-[#ff6700] to-[#ff007f];
}
